.form {
  box-shadow: 0 1px 14px rgba(#000, 0.15);
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.formField {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}

.inputField {
  width: 100%;
  color: #111;
  border: 1px solid #ddd;
  padding: 8px 40px 8px 16px;
  &:focus {
    border-color: #ccc;
  }
}

.errorMessage {
  color: red;
  font-size: 12px;
  letter-spacing: 0.1px;
  margin-top: 6px;
}

.submitButton {
  position: absolute;
  background: none;
  border: none;
  right: 0;
  padding: 6px 10px;
  cursor: pointer;
  svg {
    width: 18px;
    height: 18px;
    stroke: #111;
  }
}