.container {
  padding: 10px 0;
  display: grid;
  gap: 44px;
  grid-template-areas:
    'a'
    'b';

  @media screen and (min-width: 600px) {
    grid-template-areas: 'a b';
    grid-template-columns: minmax(200px, 280px) 1fr;
  }
}

.authorInfo {
  grid-area: a;
}

.gistsList {
  grid-area: b;
}

.title {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.loading, .error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
  }
}

.error {
  color: red;
}